@import url(../../themes/Global.css);

.Hero {
  background-image: url('../../assets/images/HeroImg/HeroBg.png');
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
  /* padding: 60px 0; */
 
}

.Hero__container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 46px;
  padding-left: var(--default-padding-left);
  max-width: 1903;
  max-height: 670px;
  position: relative;
}

/* LEFT SIDE */
.Hero-left {
  max-width: 920px;
  flex: 0 0 60%;
  position: relative;
  z-index: 2; /**/

}

.Hero__subtitle {
  font-size: 13px;
  font-weight: 600;
  color: var(--accent-purple);
  letter-spacing: 1px;
  display: block;
  margin-bottom: 16px;/**/
}

.hero__title {
  font-size: 60px;
  font-weight: 700;
  margin: 15px 0;
  color: var(--text-blue);
  line-height: 1.2;
  margin-bottom: 20px;
}

.Hero__description {
  font-size: 16px;
  color: var(--text-ash);
  line-height: 1.6;
  margin-bottom: 30px;
}

.hero__btn {
  margin-bottom: 40px;
}

/* .hero-avater {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
} */

.avater__book {
  width: 80px;
  height: auto;
}

.avater__dash {
  width: 355px; 
  height: 119px;
  bottom: 50%;
}

.hero-right {
  position: relative;
  flex: 0 0 40%;
} 

.hero__image {
  width: 100%;
  max-width: 740.20px;
  object-fit: cover;
  object-position: left center;
  height: auto;
  position: relative;
  z-index: 2;
  margin: 0;
}
.dotted-square{
  width: 502px;
  height: 443px;
  z-index: 1;
  position: absolute;
  bottom: 70px;
  left: -70px;
}

.hero__badge {
  position: absolute;
  bottom: 30%;
  right: 90%;
  background: #fff;
  padding: 25px 35px 25px 25px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  display: flex;
  /* align-items: center; */
  gap: 16px;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 4;
  /* width: 345px; */
}

/* .badge__text {
  line-height: 1.3;
} */
.badge__text p {
  display: flex;
  align-items: center;
  gap: 6px; 
  font-size: 18px;
  color: var(--text-ash);
  margin: 0;
}

.badge__text p strong {
  font-size: 20px;
  color: var(--accent-purple);
  font-weight: 600;
}


.avatar-group {
  /* display: flex; */
}

.avatar-group img {
  width: 110px;
}