@import url(../../themes/Global.css);
.btn{
    border: none;
    border-radius: 5px;
    font-size: 0.75rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em; /* spacing between text and icon */
    padding: 8px 0 8px 10px; 
    position: relative; 


}
.btn-primary{
    background: var(--color-primary);
    color: #fff;
}

.btn-secondary{
    background: var(--color-secondary);
    color: #fff;
}

.btn-yellow{
    background: var(--accent-yellow);
    color: var(--text-blue);
}

.btn-xs{
    width: 45px;
    height: 45px;
    padding: 0;
}

.btn-sm{
    font-size: 0.3rem;
    justify-content: center;
    gap: 0.5em;
    padding: 0.5em 2.5em;
}

.btn-lg{
    font-size: 0.75rem;
    gap: 22px;
}

.btn-rounded-md{
    border-radius: 50px;
    justify-content: center;
}
.btn-rounded-full{
    border-radius: 50%;
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    flex-shrink: 0; 
}

.rounded{
    border-radius: 50%;
    padding: 25px; 
}

.rounded-primary{
    background: var(--accent-purple);
     border-radius: 50%;
    padding: 0.5em;
}
.rounded-secondary{
    background: var(--yellow);
     border-radius: 50%;
    padding: 0.5em;
}

.rounded-blue{
    background: var(--accent-blue);
     border-radius: 50%;
    padding: 0.5em;
}


/* .icon.rounded {
    width: 100%;  
    height: 100%;
    max-width: 50px; 
    max-height: 50px;
    padding: 0;    
    border-radius: 50%;
} */