@import url(../../themes/Global.css);

.btn {
    border: none;
    border-radius: 5px;
    font-size: 0.75rem;
    font-weight: 600;
    cursor: pointer;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    padding: 8px 8px 8px 20px;
    position: relative; 
}

.btn-primary {
    background: var(--color-primary);
    color: #fff;
}

.btn-secondary {
    background: var(--color-secondary);
    color: #fff;
}

/* .btn-yellow {
    background: var(--accent-yellow);
    color: var(--text-blue);
} */

.btn-lightPurple {
    background: var(--transparent-purple);
    color: var(--accent-purple);
}
.btn-blue{
    background: var(--color-blue);
    color: #fff;
}



.btn-xs {
    width: 45px;
    height: 45px;
    padding: 0;
    justify-content: center;
}

.btn-sm {
    font-size: 0.94rem;
    gap: 10px;
    padding: 10px 10px 10px 20px;
}

.btn-lg {
    font-size: 0.94rem;
    gap: 16px;
    padding: 10px 10px 10px 28px;
}

.btn-rounded-md {
    border-radius: 50px;
}

.btn-rounded-full {
    border-radius: 50%;
}

.icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    flex-shrink: 0; 
}

.icon svg {
    width: 100%;
    height: 100%;
}

.rounded-primary,
.rounded-secondary,
.rounded-blue,
.rounded-lightPurple,
.rounded-yellow {
    width: 38px;
    height: 38px;    
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    
}
.rounded-primary {
    background: var(--accent-purple);
}

.rounded-secondary {
    background: var(--yellow);
}

.rounded-blue {
    background: var(--accent-blue);
}

.rounded-lightPurple {
    background: var(--purple-icon);
}
.rounded-yellow{
    background: var(--accent-yellow);
}
.rounded-transPurple{
    background: var(--transparent-purple);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    /* padding-right: 15px; */
    margin-left: 15px;
    margin-right: 30px;
    
}


.btn-rounded-md {
    padding: 4px 4px 4px 24px;
}

.btn-lg.btn-rounded-md {
    padding: 4px 4px 4px 28px;
}

.btn-sm.btn-rounded-md {
    padding: 4px 4px 4px 20px; 
}


.btn:hover {
    opacity: 0.92;
    transform: translateY(-1px);
    transition: all 0.2s ease;
}

.btn:active {
    transform: translateY(0);
}

