
.discover-gain{
  width: 100%;
  max-width: 1903px; 
  margin: 0;
  position: relative;
  overflow: hidden;
  background-color: #f1eeee;
}

.discover-gain__inner {
  padding-left: var(--default-padding-left);
  padding-right: var(--default-padding-right);
  /* box-sizing: border-box; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.discover-gain .top {
  background: var(--transparent-purple);
  color: var(--accent-purple);
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 25px;
  margin-top: 120px;
  width: 214px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.discover-gain__header {
    text-align: center;
    margin-bottom: 60px;
    /* margin-top: 60px; */
    font-size: 50;
    font-weight: 800;
    color: var(--text-blue);
}

/* .discover-gain__subtitle {
    font-size: 12px;
    font-weight: 600;

    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 15px;
    display: block;
} */

/* .discover-gain__title {
    font-size: 15px;
    line-height: 1.2;
} */

.foating-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}

/* Floating Icons */
.foating-icon .dot,
.foating-icon .wave,
.foating-icon .circle,
.foating-icon .flower,
.foating-icon .wave-box {
  position: absolute;
  opacity: 0.6;
  animation: float 6s ease-in-out infinite;
  z-index: 1;
}
.foating-icon .dot {
  top: 10%;
  left: 5%;
}

.foating-icon .wave {
  top: 20%;
  right: 10%;
}

.foating-icon .circle {
  bottom: 25%;
  left: 20%;
}

.foating-icon .flower {
  top: 40%;
  left: 70%;
}

.foating-icon .wave-box {
  bottom: 10%;
  right: 15%;
}

.flex-gain{
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  z-index: 2;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1320px;
    margin: 0 auto;
}

.card-gain {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 16px;
  overflow: hidden;
  color: #ffffff;
  position: relative;
  width: 100%;
  height: 356px;
  position: relative;
  background-size: cover;
  background-position: center;
  gap: 0;
  margin-bottom: 150px;
}

.content {
  max-width: 45%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-gain .content h3 {
  font-size: 20px;
  margin-bottom: 12px;

  
}

.card-gain .content p {
  font-size: 16px;
  /* margin-bottom: 20px; */
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 15px;
  display: block;
  line-height: 1.2;
}

.card-gain .btn {
  display: inline-block;
}

.card-gain img {
  max-width: 60%;
  object-fit: cover;
}
