@import url(variable.css);
@import url(https://necolas.github.io/normalize.css/8.0.1/normalize.css);

ul, li, section, div{
    box-sizing: border-box;
    /* margin: 0;
    padding: 0; */
}



body{
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  margin: 0;
  /* padding: 0; */

}

body {
  margin: 0;
  font-family: "Sora", sans-serif;
}

/* ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
} */
