.page-header .banner{
    background-color: var(--color-primary);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var( --default-padding-rigth) 0 var(--default-padding-left);
    font-family: sora;
}

.banner__contact{
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner__contact li{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-right: 2px solid rgb(106, 106, 139);
    gap: 12px;
    color: white;
    font-size: 17px;
    padding: 0 19px;
    /* height: 21px; */
}

.banner__contact li:last-child{
    border: none;
}

.banner__social{
    background-color: var(--color-secondary);
    width: 183px;
    list-style-type: none;
    display: flex;
    gap: 20px;
    box-sizing: border-box;
    height: 100%;
}

.banner__social li{
    display: flex;
    align-items: center;
    cursor: pointer;
}

/* memu li{
    border: 1px solid red;
} */

.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 var( --default-padding-rigth) 0 var(--default-padding-left);
    height: 85px;
}

.nav__logo img{
    width: 220px;
    height: 54px;
}

.nav__menu {
  display: flex;
  gap: 20px;
  width: 683px;
  margin-right: 0;
  padding: 10px auto;
}

.nav__menu li{
    list-style-type: none;
    font-size: 17px;
    
    cursor: pointer;
    height: 31px;
    line-height: 17px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    
    
}

.nav__menu li a{
    padding: 5px 10px;
    text-decoration: none;
    color: #0E2A46;
    border: 1px solid transparent;
}

.nav__menu li:hover a{
    color: #704FE6;
    border: 1px solid #704FE6;
    border-radius: 100px;
    

}

.nav__action {
  margin-left: auto;
}