.instructor {
  /* padding: 80px 20px; */
}

.instructor-container {
    width: 100%;
    max-width: 1903px;
    padding-left: var(--default-padding-left);
    padding-right: var(--default-padding-rigth);
    /* margin: 0 auto; */
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    gap: 48px;
    margin-top: 120px;
    margin-bottom: 150px;
}

/* LEFT */
.instructor__left {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  
}

.instructor .purple-tag {
  background: var(--transparent-purple);
  color: var(--color-primary);
  padding: 6px 12px;
  border-radius: 6px;
  width: fit-content;
  font-size: 0.8rem;
}

.instructor .left__title {
  font-size: 2.5rem;
  color: var(--text-blue);
}

.instructor .left__description {
  color: var(--text-ash);
  line-height: 1.6;
}

.instructor .left__btn {
  display: flex;
  gap: 16px;
}

.instructor__right {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}


.instructor-card {
  position: relative;
  height: 360px;
  width: 385px;
  border: 4px solid var(--color-primary);
  overflow: hidden;
}

.instructor-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.instructor-share {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 36px;
  height: 36px;
  background: #6f4cff;
  border-radius: 50%;
  padding: 8px;
}


.instructor-card-btn {
  position: absolute;
  bottom: 16px;
  left: 16px;
}

.instructor-btn-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3px;
  padding: 5px 10px;
  margin-right: 20px;
}

.instructor-btn-name {
  font-weight: 600;
  font-size: 0.95rem;
  color: var(--text-blue);
}

.instructor-btn-role {
  font-size: 0.8rem;
  opacity: 0.7;
  color: var(--accent-purple);
}
